<table *ngIf="character">
	<tr>
		<td><label>Name:</label></td>
		<td colspan="2"><input [(ngModel)]="character.name" [readonly]="readOnly" placeholder="name"></td>
	</tr>
	<tr>
		<td><label>Alter Ego:</label></td>
		<td colspan="2"><input [(ngModel)]="character.altr" [readonly]="readOnly" [attr.placeholder]="(!readOnly) ? 'alter ego' : null"></td>
	</tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr>
		<td><label>Strength:</label></td>
		<td><input type="range" min="0" max="9" [(ngModel)]="character.str" [disabled]="readOnly"></td>
		<td class="e"><label>{{character.str}}</label></td>
	</tr>
	<tr>
		<td><label>Stamina:</label></td>
		<td><input type="range" min="0" max="9" [(ngModel)]="character.sta" [disabled]="readOnly"></td>
		<td class="e"><label>{{character.sta}}</label></td>
	</tr>
	<tr>
		<td><label>Agility:</label></td>
		<td><input type="range" min="0" max="9" [(ngModel)]="character.agt" [disabled]="readOnly"></td>
		<td class="e"><label>{{character.agt}}</label></td>
	</tr>
	<tr>
		<td><label>Dexterity:</label></td>
		<td><input type="range" min="0" max="9" [(ngModel)]="character.dex" [disabled]="readOnly"></td>
		<td class="e"><label>{{character.dex}}</label></td>
	</tr>
	<tr>
		<td><label>Intelligence:</label></td>
		<td><input type="range" min="0" max="9" [(ngModel)]="character.int" [disabled]="readOnly"></td>
		<td class="e"><label>{{character.int}}</label></td>
	</tr>
	<tr>
		<td><label>Perception:</label></td>
		<td><input type="range" min="0" max="9" [(ngModel)]="character.pct" [disabled]="readOnly"></td>
		<td class="e"><label>{{character.pct}}</label></td>
	</tr>
	<tr>
		<td><label>Willpower:</label></td>
		<td><input type="range" min="0" max="9" [(ngModel)]="character.wil" [disabled]="readOnly"></td>
		<td class="e"><label>{{character.wil}}</label></td>
	</tr>
	<tr>
		<td><label>Luck:</label></td>
		<td><input type="range" min="0" max="9" [(ngModel)]="character.lck" [disabled]="readOnly"></td>
		<td class="e"><label>{{character.lck}}</label></td>
	</tr>
	<tr>
		<td><label>Charisma:</label></td>
		<td><input type="range" min="0" max="9" [(ngModel)]="character.chr" [disabled]="readOnly"></td>
		<td class="e"><label>{{character.chr}}</label></td>
	</tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr>
		<td><label>Melee skill:</label></td>
		<td><input type="range" min="0" max="99" [(ngModel)]="character.mele" [disabled]="readOnly"></td>
		<td class="e"><label>{{character.mele}}</label></td>
	</tr>
	<tr>
		<td><label>Archery skill:</label></td>
		<td><input type="range" min="0" max="99" [(ngModel)]="character.arch" [disabled]="readOnly"></td>
		<td class="e"><label>{{character.arch}}</label></td>
	</tr>
	<tr>
		<td><label>Marksmanship:</label></td>
		<td><input type="range" min="0" max="99" [(ngModel)]="character.mark" [disabled]="readOnly"></td>
		<td class="e"><label>{{character.mark}}</label></td>
	</tr>
</table>